

:root{
font-family: Arial, Helvetica, sans-serif;
--darkgrey: #333333;
--standard-font: arial, Helvetica, sans-serif;
--white: #fcfcfc;
--dashpurple: #eeb2fa;
--harshred: #881c1c;
}

body{
    background-color: var(--darkgrey);
    font-family: var(--standard-font);
    margin: 0;
    padding: 0;
    position:static;
    z-index: 0;
    background-image: url(./Images/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:darkseagreen
}

h2{
    text-align: center;
    justify-content:flex-start;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}

#title{
    text-align: left;
    justify-content:flex-start;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}
/* For my design, I decided to go with a combination of square and pointed rectangles. The header, combined with the aside
creates a boxed in shape to hold the section named "portfoliocards". */
header{
    display: flex;
    background-color: var(--white);
    width: 100%;
    height: 200px;
    padding: 20px;
    z-index: 2;
}

footer{
    background-color: var(--white);
    width: 100%;
    margin: 160px 0px 0px 0px;
    height: 150px;

}

.footer-text-class{
    position: static;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    font-style: italic;

}

nav{
    font-size: small;
    text-decoration: dashed;
    color: var(--darkgrey);
    justify-content:flex-end;
    padding: 0px 20px 20px 20px;
}

.flex-container{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

.nav-item{
    display: inline-block;
    padding: 10px;
    border: 1px solid var(--harshred);
    margin: 5px;
    text-decoration: none;
}

.padding{
    padding: 15px;
}

img{
    width: 100%;
    height: 100%;
}

/* Below are my buttons for my header and Footer*/
.social-img{
    width: 50px;
    height: 50px;
}

.social-img:hover{
    width: 50px;
    height: 50px;
    transform: scale(1.1) rotate(-15deg);
}

button{
    text-align: center;
    line-height: 0,5;
    width: 90px;
    height: 40px;
    border-radius: 70px;
    margin: 30px;
    background-color: var(--darkgrey);
}

button:hover{
    background-color: var(--white);
    transform: scale(1.2);
}

.button-small{
    width: 90px;
    height: 40px;
    border-radius: 70px;
    margin: 20px;
}

.main-container {
    flex: 1;
    justify-content:center;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px); 
}

section{
    background-color: var(--white);
    width: 500px;
    height: 200px;
    border-radius: 70px;
    margin: 20px;
    text-align: center;
    margin: 50px 10px 90px 10px;
    border: 5px solid var(--harshred);
}


.PROFILE-class{
    display: block;
    background-color: var(--white);
    width: 500px;
    height: 800px;
    margin: 20px 20px 0px 20px;
    text-align: center;
    position: relative;
    z-index: 0;
}


@media screen and (max-width: 980px){
    body{
        font-size: 16px;
        background-color: var(--dashpurple);
    }

    .Main-Body-Img{
        position: relative;
        z-index: -1;
        transform: translateY(200px);
        overflow: hidden;
    
    }
}

@media screen and (max-width: 768px){
    body{
        font-size: 20px;
        background-color: var(--darkgrey);
    }

    .Main-Body-Img{
        position: relative;
        z-index: -1;
        transform: translateY(520px);
        overflow: hidden;
    
    }
}