:root{
font-family: Arial, Helvetica, sans-serif;
--darkgrey: #333333;
--standard-font: arial, Helvetica, sans-serif;
--white: #fcfcfc;

}

body{
    background-color: var(--darkgrey);
    font-family: var(--standard-font);


}

h2{
    text-align: left;
    justify-content: flex-start;
    font-weight: bolder;
    font-style: italic;
}

header{
    background-color: var(--white);
    margin: 25px;
    padding: 40px;
}

nav{
    font-size: small;
    background-color: var(--white);
    text-decoration: dashed;
    color: var(--darkgrey);
    justify-content: flex-start;
}

.flex-container{
display: flex;

}

.nav-item{
    flex: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;

}

button:hover{
    background-color: var(--white);

}

.portfoliocard{
    flex: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: var(--white);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px); 
    background-color: var(--white);
}